#main{
    background-color: #A3D4E9;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */

}

.img-modal{
    width: 200px;
    height: auto;
    object-fit: contain;
}

.grass{
    color: black;
    background-color: #9BCC50;
}